body {
  background-image: url(./R.jpg);
  background-repeat: no-repeat;
  height: auto;
  width: auto;
}

.titre {
  backdrop-filter: contrast(0.3);
  display: flex;
  justify-items: center;
  justify-content: center;
  font-size: 23px;
  text-align: center;
  color: blanchedalmond;
  margin-bottom: 30px;
}

#passwd {
  display: none;
  background-color: rgb(0, 0, 0);
  border: 0.125em solid #1A1A1A;
  border-radius: 0.9375em;
  height: 57px;
  box-sizing: border-box;
  color: blanchedalmond;
  font-size: 16px;
}

.container {
  backdrop-filter: contrast(0.2);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  justify-content: flex-start;
  font-size: 33px;
  text-align: center;
  align-items: center;
  color: blanchedalmond;
  margin-bottom: 30px;
  height: 79vh;

}

.bienvenue {
  display: flex;
  flex-direction: column;
}

.gestion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.consultation {
  display: flex;
  flex-direction: column;
}

.none {
  display: none;
}

#retour {
  display: none;
}

.gap {
  height: 10px;

}

.button1 {
  appearance: none;
  background-color: blanchedalmond;
  border: 0.125em solid #1A1A1A;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button1:disabled {
  pointer-events: none;
}

.button1:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button1:active {
  box-shadow: none;
  transform: translateY(0);
}

form {
  padding-bottom: 35px;
  border-bottom: 2px solid blanchedalmond;
  width: 96%;
  gap: 35px;
  display: flex;
  font-size: 23px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}